@import "../variables.scss";


.leftNavigation {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover .backIconContainer .backIcon {
    color: #fff;
  }

  &:hover .stacked-text .header-title {
    color: #fff;
  }

  &:hover .stacked-text .text {
    color: #fff;
  }

  .backIconContainer {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: #343434;
    position: relative;

    .backIcon {
      text-align: center;
      position: absolute;
      color: $text-color;
      top: 28%;
      left: 28%;
    }
  }

  img {
    width: 64px;
  }

  .stacked-text {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none ;
    @media screen and (max-width: $bkpt-sm) {
      padding-left: 4px;
    }

    .header-title {
      color: $text-color;
      font-size: 17px;
      letter-spacing: 2px;
      padding-top: 3px;
      font-weight: 600;
      @media screen and (max-width: $bkpt-lg) {
        font-size: 16px;
      }
    }

    .text {
      font-size: 12px;
      color: $text-color;
      word-spacing: 1px;
      text-transform: uppercase;
      @media screen and (max-width: $bkpt-sm) {
        font-size: 10px;
        word-spacing: 0;
      }
    }
  }
}

.centerNavigation {
  .copyright {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright-text {
      font-size: 18px;
      color: #ffffff80;
      padding-bottom: 2px;
    }

    .copyright-icon {
      font-size: 16px;
      padding: 4px;
      color: #ffffff80;
    }

    &:hover .copyright-text {
      color: #fff;
    }

    &:hover .copyright-icon {
      color: #fff;
    }
  }

}

.rightNavigation {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      a {
        transition: all 0.5s ease-in-out;
      }

      .menu {
        color: $text-color;
        font-size: 20px;
        cursor: pointer;
      }

      .active {

        &:hover {
          fill: #fff;
          color: #fff;
        }
      }
    }

    .header-icon {
      padding: 0 16px;
      margin: 8px;
      position: relative;
      @media screen and (max-width: $bkpt-sm) {
        padding: 0 8px;
        margin: 2px;
      }

      ul{
        display: block;
      }
    }

    .footer-topbar-icon {
      padding: 0 8px;
      margin: 4px;
    }
  }
}

.headerContainer {
  margin-bottom: 10px;

  .headerContent {

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      @media screen and (max-width: $bkpt-sm) {
        margin-bottom: 8px;
      }
    }

    .twitter-svg {
      padding-top: 4px;
    }
  }
}

.overflow-drop{
  list-style: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(26,35,41,0.77);
  margin-bottom: 0;
  opacity: 1;
  display: none;
  position: absolute;
  right: -20%;
  top:32px;
  text-align: left;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: opacity 350ms cubic-bezier(0.25, 1.22, 0.33, 1),-webkit-transform 350ms cubic-bezier(0.25, 1.22, 0.33, 1);
  transition: opacity 350ms cubic-bezier(0.25, 1.22, 0.33, 1),-webkit-transform 350ms cubic-bezier(0.25, 1.22, 0.33, 1);
  transition: transform 350ms cubic-bezier(0.25, 1.22, 0.33, 1),opacity 350ms cubic-bezier(0.25, 1.22, 0.33, 1);
  transition: transform 350ms cubic-bezier(0.25, 1.22, 0.33, 1),opacity 350ms cubic-bezier(0.25, 1.22, 0.33, 1),-webkit-transform 350ms cubic-bezier(0.25, 1.22, 0.33, 1);
  width: 200px;
  z-index: 1;
  @media screen and (max-width: $bkpt-lg) {
    width: 160px;
    right: -8%;
  }
  @media screen and (max-width: $bkpt-md) {
    width: 120px;
  }
  
  li{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    a{
      cursor: pointer;
      text-decoration: none;
      color: rgba(255,255,255,0.9);
      font-size: 16px;
      font-weight: 500;
      position: relative;
      z-index: 1;
      display: block;
      padding: 20px 16px;
      @media screen and (max-width: $bkpt-sm) {
        padding: 14px 12px;
        font-size: 14px;
      }
    }
    a:hover{
      color: white;
      background: rgba(29,120,189,0.7);
    }
  }
}
.overflow-drop::before {
  top: -16px;
  border-bottom-color: rgba(0,0,0,0.8);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  border-width: 8px;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  right: 9.5%;
  @media screen and (max-width: $bkpt-md) {
    right: 12%;
  }
  @media screen and (max-width: $bkpt-sm) {
    right: 4%;
  }
}
.drop-open {
  display: block;
  transform: scale(1);
}
.overflow-drop li:first-child a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}