---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Sahil K | Work</title>
    <meta name="viewport" content="initial-scale=1, initial-scale=1.0&quot; viewport-fit=cover">
    <meta name="theme-color" content="#FFFFFF">
    <!--For social sharing-->
    <meta property="og:title" content="Sahil K | Product Designer">
    <meta property="og:description"
          content="Indo-Canadian Computer Science major currently leading a team of designers">
    <meta property="og:image" content="Work_files/Social_Banner.jpg">
    <meta property="og:url" content="https://www.thesahilk.com/work">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="Work_files/Favicon/favicon-144.png">
    <!--Favicon-->
    <link rel="alternate" type="application/rss+xml" title="Sahil K | blog" href="https://www.thesahilk.com/rss">
    <link rel="shortcut icon" type="image/png" href="https://www.thesahilk.com/public/Favicon.png">
    <link rel="mask-icon" href="https://www.thesahilk.com/public/Favicon.svg" color="#0E83F3">
    <!--link(rel="icon" type="image/png" sizes="16x16" href="/public/apple-touch-icon.png")-->
    <link rel="icon" type="image/png" sizes="32x32" href="https://thesahilk.com/Work_files/Favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://thesahilk.com/Work_files/Favicon/favicon-96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://thesahilk.com/Work_files/Favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://thesahilk.com/Work_files/Favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://thesahilk.com/Work_files/Favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://thesahilk.com/Work_files/Favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://thesahilk.com/Work_files/Favicon/favicon-152.png">
    <!--Styling-->
    <link href="website/css.css" rel="stylesheet">
    <link rel="stylesheet" href="website/bootstrap.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="website/style_v2.css">
    <script type="text/javascript" async=""></script>
    <script src="website/jquery-3.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <style>@media print {
        #ghostery-purple-box {
            display: none !important
        }
    }</style>
    <script src="website/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="website/bootstrap.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="{{site.env.PHOTO_ROOT}}/">
            <div class="emoji">
                <img class="image-on" src="website/emoji12.png">
                <img class="image-off" src="website/emoji13.png">
            </div>
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent !important; border:none !important; padding: 0 8px 10px 8px;">
            <span class="navbar-toggler-icon" style="background-image: url('./images/ham-menu.svg') !important; background-size: 54px !important;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- THIS IS THE NAVIGATION SYSTEM ON THE LEFT, NEXT TO BRAND-IMAGE-->
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <!-- THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.env.PHOTO_ROOT}}/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{site.env.PHOTO_ROOT}}/work">Work</a>
                    </li>
                    <!--li.nav-item//a(href='/blog', class= (navbar == 'blog' ? 'nav-link active' : 'nav-link' )) Blog-->
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="{{site.env.PHOTO_ROOT}}/photography">Photography</a> -->
                        <a class="nav-link" href="https://instagram.com/thesahilk">Photography</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" id="website-container">
    <div id="projects-container">
        <div class="project-container">
            <div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Magicbricks" src="website/Magicbricks@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Magicbricks</h1>
                        <div class="company-container">
                            <div class="timeline">2014</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Responsible for research & wireframing of the complete product for a successful major
                                product & visual revamp of their website
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2015</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Revamped the android app to make user flows &amp; journeys quicker &amp; easier; which
                                would later be ported over to iOS and mobile web
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="The Times of India" src="website/TOI@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>The Times of India</h1>
                        <div class="company-container">
                            <div class="timeline">2015</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Designed a visual refresh for mobile homepage
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2015</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to redesign the android app to follow material guidelines, which was
                                featured by Google on the Play Store
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to update the iOS app to follow modern iOS standards
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">Rebranding of The Times City app</div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="91Mobiles" src="website/91M@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>91Mobiles</h1>
                        <div class="company-container">
                            <div class="timeline">2015</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Designed a new User & Expert rating & reviews system in a Product Page with the goal of
                                easy distinction and surfacing keywords from reviews
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Redesigned the Product Page to make sorting through multi-store pricing/offers easy, a
                                readable spec sheet & easily navigable multi-album gallery
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to redesign their android app to fit inline with Material Design
                                guidelines
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="CARS24" src="website/Cars24@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>CARS24</h1>
                        <div class="company-container">
                            <div class="timeline">2015</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Did wireframing & visual design for a new android app, aimed at car inspectors working
                                at their garage
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Restructured/redesigned their online customer acquisition flow to a more compact version
                                for improved conversions
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Redesigned the android & iOS apps for car dealers to focus on auctioning, purchasing &
                                managing cars
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2017</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Redesigned the mobile website to improve loading times, support high dpi screens &
                                easier/quicker filling of forms
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Redesigned mobile and web homepages to improve product communication to users
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Gadgets Now" src="website/Gadgets@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Gadgets Now</h1>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to provide branding and product design for the 2016 launch of this
                                product
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Chaayos" src="website/Chaayos@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Chaayos</h1>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to architect & design their online ordering system for placing orders
                                for delivery or in-store pickup
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="OYO Rooms" src="website/OYO@3x.jpg" alt="OyoDashboard">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>OYO Rooms</h1>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Did wireframing &amp; visual design of the managing/editing
                                of hotel bookings module to be used by OYO call centres
                                employees
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Adobe" src="website/Adobe@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Adobe</h1>
                        <div class="company-container">
                            <div class="timeline">2016</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Did contract visual &amp; interaction work for their new
                                tool in the Adobe Advertising Cloud called Media Optimiser
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="I2E1" src="website/I2E1@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>I2E1</h1>
                        <div class="company-container">
                            <div class="timeline">2017</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Architected the information structure &amp; user flows for
                                their customer facing android app &amp; lead the visual
                                design of the same
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Techgig" src="website/Techgig@3x.jpg"></div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Techgig</h1>
                        <div class="company-container">
                            <div class="timeline">2017</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a design team to redesign structurally &amp; visually,
                                the entire consumer side product line
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Did wire framing and visual design for creation &amp;
                                management of Webinars &amp; Job Offers section of the
                                corporate side of the product line
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Clearnifty" src="website/Clearnifty@3x.jpg">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Clearnifty</h1>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Architected the information structure &amp; user flows for
                                their cross platform mobile app &amp; lead the visual design
                                of the same
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Ourbus" src="website/OB%202@2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Ourbus</h1>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a team of designers to conduct user research around the Ourbus brand.
                                Using this data, lead the redesign concepts of the consumer facing Ourbus
                                brand to be more in line with their customer base
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Canadian sim cards" src="website/CSC@2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Canadian SIM cards</h1>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Designed wireframes and visual look for a travel SIM card e-commerce site.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Wastelink" src="website/Wastelink@2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Wastelink</h1>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Co founded a reverse waste logistics startup for ethical
                                disposal of goods and built a cloud-based platform to keep
                                companies informed of removal chain of discarded stock is
                                as transparent as fresh stock supply chain.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Kotak Life insurance" src="website/Kotak@2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Kotak life insurance</h1>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Prototyped a digital first customer onboarding
                                experience to be used by onsite insurance agents.
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2018</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Responsible for the wireframing and visual design for
                                the web app used by customers for managing their policies
                                and book-keeping.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Loktra" src="website/Loktra%20Move@2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Loktra</h1>
                        <div class="company-container">
                            <div class="timeline">2019</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Responsible for research and prototyping of experimental,
                                first principle thinking based products for market testing.
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2019</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Working alongside the product team to plan new products,
                                release cycles and feature strategies. Lead a design team
                                to execute said strategies via IA, design and prototyping.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-image">
                        <img class="myImg" alt="Tangent" src="website/Tangent2x.png">
                    </div>
                    <div class="work-center"></div>
                    <div class="work-content">
                        <h1>Tangent</h1>
                        <div class="company-container">
                            <div class="timeline">2019</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Lead a team of designers to lead the rebranding and redesign
                                of the website and their product offerings to fit more inline
                                with their target enterprise customer base.
                            </div>
                        </div>
                        <div class="company-container">
                            <div class="timeline">2019</div>
                            <div class="center-margin"></div>
                            <div class="workinfo">
                                Designed and prototyped multiple mvps’ for conducting market
                                research for their experimental technology product.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
<!--                    <div id="caption"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    const img = document.getElementsByClassName("myImg");
    let imagesArray = [...img];
    const modalImg = document.getElementById("img01");
    const captionText = document.getElementById("caption");

    for (let i = 0; i < imagesArray.length; i++) {
        imagesArray[i].addEventListener('click', function () {
            let rect = imagesArray[i].getBoundingClientRect();
            console.log(rect)
            modal.style.top = rect.top;
            modal.style.left = rect.left;
            modal.style.width = rect.width;
            modal.style.height = rect.height;
            modal.style.display = "flex";
            modalImg.src = this.src;
            // captionText.innerHTML = this.alt;
        });
    }

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (e) {
        if(e.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>