<ul class="photo-grid right-grid">
        {% for story in site.photostories %}
    <a href="{{site.env.PHOTO_ROOT}}{{story.url}}">
        <li class="travel-card">
            <div class="travel-img">
                <div class="image">
                    <img src="{{site.env.PHOTO_ROOT}}{{story.cover}}" alt="travel">
                </div>
                <div class="titles">
                    <div class="title">
                        {{story.title}}
                    </div>
                    <div class="sub-title">
                        {{story.subtitle}}
                    </div>
                </div>
            </div>
        </li>
    </a>
    {%  endfor %}
</ul>