---
---

@import "./includes/collectionFooter.scss";
@import "./includes/collectionHeader.scss";
@import "./variables.scss";
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: $primary-font-color;
  background-color: $site-bg-color;
  //font-family: 'Montserrat', sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.content-container {
  margin: 16px 24px 36px;
  @media screen and (max-width: $bkpt-sm) {
    margin: 24px 8px;
  }
}

.cover-img {
  width: 100%;
  height: auto;
  margin: 80px 0;
  border-radius: 12px;
}

.photo-sets{
  text-transform: uppercase;
  font-size: 16px;
  color: $text-color;
  text-align: center;
  margin-bottom: 80px;
  @media screen and (max-width: $bkpt-md) {
    margin-bottom: 36px
  }
  @media screen and (max-width: $bkpt-sm) {
    margin-bottom: 24px
  }
}

.collection{
  width: 50%;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
  line-height: 125%;
  padding-bottom: 8px;
}


p {
  width: 50%;
  margin: auto;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: $text-color;
  @media screen and (max-width: $bkpt-lg) {
    font-size: 16px;
    width: 84%;
  }
}

h1 {
  font-size: 108px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  @media screen and (max-width: $bkpt-md) {
    font-size: 64px;
  }
}


.content {
  width: 60%;
  margin: auto;
  @media screen and (max-width: $bkpt-md) {
    width: 80%;
  }
  .list{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    cursor: pointer;
    text-decoration: none;
    @media screen and (max-width: $bkpt-md) {
      flex-direction: column;
    }
    &:hover h6{
      opacity: 0.9;
    }
    &:hover .list-text{
      transform: translate(20px, -20px);
      -webkit-transform: translate(20px, -20px);
      -moz-transform: translate(20px, -20px);
      -ms-transform: translate(20px, -20px);
      -o-transform: translate(20px, -20px);
    }
    &:hover .list-image img{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,0.4);
      -moz-box-shadow: 0 14px 30px 0 rgba(0,0,0,0.4);
      box-shadow: 0 14px 30px 0 rgba(0,0,0,0.4);
    }
  }
  .list-image{
    img{
      width: 375px;
      height: auto;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      transition: all 550ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      -webkit-transition:  all 550ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      -moz-transition:all 550ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      @media screen and (max-width: $bkpt-md) {
        width: 100%;
      }
    }
  }
  .list-text{
    padding: 20px 24px 0 48px;
    transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    -webkit-transition:  all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    -moz-transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    @media screen and (max-width: $bkpt-md) {
      padding: 24px 8px 0;
    }
    h2{
      width: 72%;
      font-size: 42px;
      font-weight: 900;
      line-height: 105%;
      color: #fff;
      padding-bottom: 16px;
      @media screen and (max-width: $bkpt-md) {
        width: 100%;
        font-size: 32px;
      }
    }
    h4{
      font-size: 20px;
      font-weight: 400;
      line-height: 105%;
      color: $text-color;
      padding-bottom: 16px;
    }
    h6{
      opacity: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 125%;
      color: $text-color;
      padding-bottom: 8px;
      transition: all 1.1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      -webkit-transition:  all 1.1s  cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      -moz-transition:all 1.1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
      @media screen and (max-width: $bkpt-md) {
        display: none;
      }
    }
  }
}





