---
---

@import "./includes/collectionFooter.scss";
@import "./includes/collectionHeader.scss";
@import "./variables.scss";
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: $primary-font-color;
  background-color: $site-bg-color;
  //font-family: 'Montserrat', sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.main-image-container {
  position: relative;

  .main-image-content {
    img {
      cursor: pointer;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .main-image-title {
    color: $primary-font-color;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(41, 47, 51, 0) 0%, rgba(41, 47, 51, 0.5) 33%, rgba(41, 47, 51, 0.77) 100%);
    padding: 80px;
    text-align: center;
    @media screen and (max-width: $bkpt-sm) {
      padding: 16px;
    }

    .place {
      font-size: 64px;
      font-weight: 600;
      @media screen and (max-width: $bkpt-lg) {
        font-size: 42px;
        padding-bottom: 2px;
      }
      @media screen and (max-width: $bkpt-sm) {
        font-size: 28px;
        padding-bottom: 2px;
      }
    }

    .weather {
      font-size: 18px;
      color: $text-color;
      @media screen and (max-width: $bkpt-lg) {
        font-size: 14px;
      }
      @media screen and (max-width: $bkpt-sm) {
        font-size: 12px;
      }
    }
  }
}

.image-footer {
  background-color: #212629;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 24px 56px;
  @media screen and (max-width: $bkpt-sm) {
    padding: 16px
  }

  .image-story {
    font-family: sans-serif;
    display: inline-block;
    font-size: 14px;
    color: $primary-font-color;
    font-weight: 400;
    opacity: 0.6;
    @media screen and (max-width: $bkpt-lg) {
      font-size: 12px;
    }
    @media screen and (max-width: $bkpt-sm) {
      font-size: 11px;
    }

    &.date {
      padding-right: 10px;
    }

    &.date::after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: white;
      opacity: 0.5;
      margin: 0 0 3px 4px;
      display: inline-block;
    }

    span {
      padding: 0 6px 0 6px;
      opacity: 0.4;
      color: $primary-font-color;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

.content-container {
  margin: 24px 36px;
  @media screen and (max-width: $bkpt-sm) {
    margin: 24px 8px;
  }
}


.content {
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    width: 50%;
    margin: auto;
    @media screen and (max-width: $bkpt-lg) {
      width: 84%;
    }
  }

  h2, h3 {
    margin-top: 100px;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    position: relative;
    margin-bottom: 4px;
    @media screen and (max-width: $bkpt-sm) {
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  h2:after, h3:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid $text-color;
    top: 50%;
    width: 68%;
    opacity: 0.7;
    height: 2px;
    margin-left: 16px;
    @media screen and (max-width: $bkpt-sm) {
      width: 50%;
      height: 2px;
    }
  }

  h3::before {
    content: " ";
    background: url('{{site.env.PHOTO_ROOT}}/images/icn-location.svg') no-repeat 0 0;
    display: inline-block;
    opacity: .3;
    width: 32px;
    height: 32px;
    margin-bottom: -2px;
    margin-right: 4px;
  }

  h4 {
    position: absolute;
    text-align: left;
    margin: 0 8px;
    background: $site-bg-color;
    padding: 0px .5em;
    color: white;
    display: block;
    opacity: 1;
    top: -10px;
    line-height: 125%;
    font-weight: 500;
  }

  h5 {
    @include text-sm;
  }

  h6 {
    color: $text-color;
    font-size: 13px;
    text-align: center;
    padding: 4px 0 56px;
  }

  img {
    cursor: pointer;
    background-color: $list-bg-color;
  }

  p {
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    color: $text-color;
    @media screen and (max-width: $bkpt-lg) {
      font-size: 16px;
    }
    @media screen and (max-width: $bkpt-sm) {
      font-size: 14px;
    }
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, p + p {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .fun-fact {
    width: 50%;
    margin: 100px auto;
    border: 2px solid $text-color;
    padding: 24px;
    border-radius: 12px;
    position: relative;

    @media screen and (max-width: $bkpt-lg) {
      width: 84%;
      padding: 16px;
      margin: 56px auto;
    }

    #fun-fact {
      width: unset;
    }

    .row {
      margin-bottom: 16px;
    }

    p {
      line-height: 1.5;
      width: 100%;
      margin: 0;
    }

    .flag-image {
      width: 210px;
      float: right;
      height: auto;
      margin-left: 16px;
      border-radius: 8px;
      @media screen and (max-width: $bkpt-lg) {
        margin-top: 16px;
        width: 50%;
      }
    }
  }

  .image-container {
    margin-bottom: 100px;
    margin-top: 100px;

    p {
      width: unset;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .image-row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .caption-container{
      width: calc(50% - 4px);
    }
    p {
      margin:0px;
    }
    img {
      height: auto;
    }
  }
  .image-row-4 {
    p {
      width: unset;
      margin-bottom: 0;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: calc(25% - 4px);
      height: auto;
    }
  }

  .image {
    width: 100%;
    margin-bottom: 8px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  padding: 48px 0;
  width: 100%;
  height: calc(100% - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $bkpt-sm) {
    padding: 20px 0;
    height: calc(100% - 40px);
  }
}

/* Modal Content (image) */
.modal-image {
  object-fit: contain;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  @media screen and (max-width: $bkpt-sm) {
    width: 96%;
  }
}

/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $text-color;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
}

#prev {
  left: 16px;
}

#next {
  right: 16px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
  transform: scale(1.4);
  opacity: 0.8;
  color: #fff;
}


/* Add Animation */
.modal-image {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 8px;
  right: 24px;
  color: $text-color;
  font-size: 40px;
  font-weight: 500;
  transition: 0.3s;
  @media screen and (max-width: $bkpt-sm) {
    top: 4px;
    right: 16px;
  }
}

.close:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.3);
}


.cssload-wrapper {
  opacity: 1;
  width: 16%;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 40%;
}
.loader-hide{
  opacity: 0;
}

#cssload-border {
  border: 1px solid rgb(34,34,34);
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 4px 3px;
  border-radius: 40px;
}

#cssload-whitespace {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 40px;
}

#cssload-line {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  animation: cssload-slide 5.75s steps(40) infinite;
  -o-animation: cssload-slide 5.75s steps(40) infinite;
  -ms-animation: cssload-slide 5.75s steps(40) infinite;
  -webkit-animation: cssload-slide 5.75s steps(40) infinite;
  -moz-animation: cssload-slide 5.75s steps(40) infinite;
  border-radius: 40px;
}



@keyframes cssload-slide {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-o-keyframes cssload-slide {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-ms-keyframes cssload-slide {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes cssload-slide {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@-moz-keyframes cssload-slide {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}