$site-bg-color: #2a2f34;
$list-bg-color:#24292c;
$primary-font-color: #fff;
$text-color:#ffffff95;



// media query mixins

$bkpt-sm: 576px;
$bkpt-md: 776px;
$bkpt-lg: 998px;
$bkpt-xl: 1200px;

//@include highlight; include in style.scss
@mixin text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $text-color;
  @media screen and (max-width: $bkpt-lg) {
    font-size: 16px;
  }
  @media screen and (max-width: $bkpt-sm) {
    font-size: 14px;
  }
}
@mixin text-sm{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
  @media screen and (max-width: $bkpt-lg) {
    font-size: 14px;
  }
  @media screen and (max-width: $bkpt-sm) {
    font-size: 12px;
  }
}


