<html>
<head>
    <title>albums</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.env.PHOTO_ROOT}}/stylesheets/categories.css"/>
    <link href="https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lujVj9_mf.woff2" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="content-container">
    {% include collectionheader.html %}
    <h6 class="collection">Collections</h6>
    <h1 class="place">{{page.category.title}}</h1>
    <p>{{page.category.description}}</p>
    <img class="cover-img" src="{{site.env.PHOTO_ROOT}}{{page.category.cover}}" alt="{{page.category.title}} image">
    <p class="photo-sets">photosets</p>
    <div class="content">
        {% for story in page.docs %}
        <a class="list" href="{{site.env.PHOTO_ROOT}}{{story.url}}" >
            <div class="list-image">
                <img src="{{site.env.PHOTO_ROOT}}{{story.cover}}" alt="{{story.cover}} image">
            </div>
            <div class="list-text">
                <h2>{{story.title}}</h2>
                <h4>{{story.subtitle}}</h4>
                <h6>{{story.days}}</h6>
                <h6>{{story.photos}}</h6>
            </div>
        </a>
        {% endfor %}
    </div>
    {% include collectionFooter.html %}
</div>
</body>
</html>