<html>
<head>
    <title>albums</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.env.PHOTO_ROOT}}/stylesheets/collection.css"/>
    <link href="https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lujVj9_mf.woff2" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<script>
    // for preloading
    // hide cover image loader on image load
    function coverImageLoading (){
        const loader = document.getElementsByClassName('cssload-wrapper')[0];
        loader.classList.add("loader-hide");
    }

</script>
<div class="content-container">
    {% include collectionheader.html %}
    <div class="main-image-container">
        <div class="cssload-wrapper">
            <div id="cssload-border">
                <div id="cssload-whitespace">
                    <div id="cssload-line">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-image-content">
            <img onload="coverImageLoading()" id="cover-image" src="{{site.env.PHOTO_ROOT}}{{page.cover}}">
        </div>
        <div class="main-image-heading-container">
            <div class="main-image-title">
                <p class="place">{{page.title}}</p>
                <p class="weather">{{page.subtitle}}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="image-footer">
            <div class="image-story date">
                {{page.months}}<span>{{page.date | date: ' %Y'}}</span>
            </div>
            <div class="image-story time">
                {{page.photos}}<span>PHOTOS TAKEN</span>
            </div>
        </div>
        {{content}}
    </div>
    {% include collectionFooter.html %}
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <img class="modal-image" id="img01">
            <a id="prev">    <i class="fas fa-arrow-left"></i></a>
            <a id="next">    <i class="fas fa-arrow-right"></i></i></a>
        </div>
    </div>
</div>
<script>
    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    const images = document.getElementsByClassName("image");
    let imagesArray = [...images];
    const modalImg = document.getElementById("img01");

    // when user click prev and next button of modal
    const prev = document.getElementById("prev");
    const next = document.getElementById("next");
    let currentIndex = 0;

    function modalScreen(i) {
        currentIndex = i;
        updateModal();
    }
    function prevItem() {
        if (currentIndex == 0) { return; } else { currentIndex--; }
        updateModal();
    }
    function nextItem() {
        if (currentIndex == imagesArray.length-1) { return; } else { currentIndex++; }
        updateModal();
    }
    function updateModal() {
        currentIndex == 0 ?
            prev.style.display = "none" :
            prev.style.display = "block";
        currentIndex == imagesArray.length-1 ?
            next.style.display = "none" :
            next.style.display = "block";

        modalImg.src = imagesArray[currentIndex].src;
        modal.style.display = "block";
    }

    for (let i = 0; i < imagesArray.length; i++) {
        imagesArray[i].addEventListener('click', function () {
            modalScreen(i)
        });
    }

    prev.addEventListener('click', prevItem);
    next.addEventListener('click', nextItem);


    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // converting blur images into original images

    const myImages = Array.from(document.querySelectorAll("div.content img"));

    function loadFullImage(imgIndex) {
        if (imgIndex >= myImages.length) { return; }
        const image = myImages[imgIndex];

        // loading full image
        let fullImageSource = image.src.replace(".c.", ".f.");
        const fullImage = new Image();
        fullImage.src = fullImageSource;
        fullImage.addEventListener('load', () => {
            image.src = fullImageSource;
            loadFullImage(++imgIndex);
        });
    }

    if (myImages.length > 0) { loadFullImage(0); }

</script>
</body>
</html>